<h1>Lista miast odwiedzonych przez UFO</h1>

<table>
  <thead>
    <tr>
      <th>Miasto</th>
      <th>Liczba spotkan</th>
      <th>Liczba obiektow</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @cities.each do |city| %>
        <td><%= city.city_name %></td>
        <td><%= city.contacts.count %></td>
        <td><%= city.sum_object %></td>
        <td><%= link_to 'Podglad', city_path(city) %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj nowe miasto', new_city_path %>
<%= link_to 'Dodaj nowy kontakt', new_contact_path %>


