<!DOCTYPE html>
<html>
<head>
  <title>UfoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fluid">
      <nav class='navbar navbar-default'>

        <div class='container-fluid'>
          <div class='navbar-header'>
            <%= link_to 'Ufo App', root_path, class: 'navbar-brand' %>
          </div>



            <ul class='nav navbar-nav navbar-right'>
                  <% if current_user %>
                    <li><a>Zalogowany jako <strong><%= current_user.login %></strong>.</a></li>
                    <li><%= link_to "Wylogowanie", session_path('current'), method: 'delete' %></li>
                  <% else %>
                    <li><%= link_to "Rejestracja", new_user_path %></li>
                    <li><%= link_to 'Logowanie', new_session_path %></li>
                  <% end %>
            </ul>

        </div>

      </nav>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      
      <%= yield %>

    </div>
</body>
</html>